*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background-color: cornflowerblue; */
    background-image: url(img/1img.jpg);
    margin-top: 100px;
    margin-left: 300px;
}
.container{
    width: 700px;
    height: 490px;
    /* background-color:darkslateblue; */
    /* padding: 30px ; */
    padding-top: 40px;
    background-image: url(img/img4.jpg  );
    border-radius: 10px;
}
input{
    width: 600px;
    height: 100px;
    font-size: 100px;
    background-color:rgb(126, 121, 121);
    margin-left: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.buttons{
    width: 700px;
    /* min-height:400px ; */
    display: flex;
    margin-left: 50px;
    /* padding-bottom: 3px; */
    flex-wrap: wrap;

}
button{
    width: 150px;
    height: 58px;
    font-size: 30px;
}
.clear{
    width: 150px;
    height: 58px;
    background-color: white;
    padding-left: 65px;
    padding-top: 10px;
    border: 1px solid rgb(197, 182, 182);
}
.btn-equal{
    width: 150px;
    height: 58px;
    background-color: white;
    padding-left: 67px; 
    padding-top: 10px;
    border: 1px solid rgb(197, 182, 182);
    margin-left: 300px;
}
.clear__equal{
    display: flex;
    font-size: 30px;
  
}
.minus{
    background-color: rgb(214, 18, 34);
}
.plus{
    background-color: rgb(28, 212, 28);
}
.bolish{
    background-color: rgb(228, 102, 18);
}
.kopaytirish{
    background-color: rgb(31, 31, 206);
}
.clear{
    background-color: rgb(136, 6, 6);
}
.btn-equal{
    background-color: rgb(5, 75, 5);
}
.btn-equal:hover{
    background-image: url(img/img1.jpg);
    color: white;
}
button:hover{
    background-image: url(img/img1.jpg);
    color: white;
}
.clear:hover{
    background-image: url(img/img1.jpg);
    color: white; 
}
input:hover{
   background-image: url(img/img4.jpg);
   color: white ;
}
.none{
    background-color:  rgb(136, 6, 6);
}
.one{
    background-color:rgb(31, 31, 206);
}
.two{
background-color: rgb(5, 75, 5);
}
.uch{
background-color:  rgb(136, 6, 6);
}
.tort{
background-color:rgb(31, 31, 206);
}
.besh{
background-color: rgb(228, 102, 18);;
}
.olti{
background-color:  rgb(136, 6, 6);
}
.yetti{
background-color: rgb(31, 31, 206);
}
.sakkiz{
background-color: rgb(228, 102, 18);;
}
.toqqiz{
background-color:rgb(28, 212, 28);
}
.back{
    background-color: rgb(214, 18, 34);
}
.tochka{
    background-color: rgb(5, 75, 5);
}